<div class="catalog__item">
  <div class="catalog__item-image">
    <img src="../assets/images/catalog/{{ product.image }}" alt="{{ product.title }}" class="catalog__item-img">
  </div>
  <h4 class="title catalog__item-title">{{ product.title }}</h4>
  <div class="catalog__item-actions">
    <div class="catalog__item-quantity">1 шт.</div>
    <div class="catalog__item-price">{{ product.price | currencyPipe }}</div>
    <button class="btn catalog__btn" bgButton (click)="addProductToCart()">Заказать</button>
  </div>
</div>
