.catalog__item {
  padding: 27px 21px;
  max-width: 263px;
  border: 2px solid #fff;
  border-radius: 20px;
  height: 229px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog__item-image {
  position: absolute;
  top: -60px;
}

.catalog__item-img {
  transition: all .5s ease;
}

.catalog__item:hover .catalog__item-img {
  transform: scale(1.1);
}

.catalog__item-title {
  font-size: 18px;
  color: rgb(255, 255, 255);
  margin-top: 82px;
  margin-bottom: 26px;
}

.catalog__item-actions {
  display: grid;
  grid-template-columns: 80px auto;
  align-items: center;
  justify-content: space-between;
}

.catalog__item-quantity {
  font-size: 15px;
  font-family: "Gilroy", sans-serif;
  color: rgb(255, 255, 255);
  text-align: left;
}

.catalog__item-price {
  font-size: 15px;
  font-family: "Gilroy", sans-serif;
  color: rgb(255, 255, 255);
  text-align: left;
}

.catalog__btn {
  padding: 15px;
  width: 130px;
  font-size: 16px;
  color: rgb(255, 255, 255);
  grid-column: 2;
  grid-row: 1 / 3;
  height: 50px;
}
