<section class="main">
  <div class="container">
    <div class="presentation">
      <h1 class="title presentation__title">
        Мягкие французские пироженки Macaroons
      </h1>
      <p class="presentation__description">
        Побалуйте себя и своих близких самыми вкусными и ароматными домашними пироженками Macaroon!
      </p>
      <a class="btn presentation__btn" bgButton (click)="scrollTo(catalog)">Выбрать макарун</a>
      <div class="presentation__image">
        <img class="presentation__image-img" src="../assets/images/main_bg.png" alt="Коробка макарун">
        <div class="circle-pulse"></div>
        <div class="circle-pulse-second"></div>
      </div>
    </div>
  </div>
</section>

<section class="about" id="about">
  <div class="container about__container">
    <h2 class="title title_fz45 about__title">
      Мы печём для вас вкуснейшие макаруны уже более 10 лет
    </h2>
    <p class="about__description">
      Все пироженки мы готовим только из натуральных и качественных продуктов, без консервантов, ароматизаторов,
      красителей. Используем в приготовлении сливочное масло 82,5%, без дрожжей, маргарина, разрыхлителей и
      улучшителей муки.
    </p>
    <div class="about__image">
      <img src="../assets/images/about_bg.png" alt="Макарун" class="about__image-img">
    </div>
    <advantages *ngFor="let advantage of advantages; let index = index;" [advantage]="advantage"
                [index]="index"></advantages>
  </div>
</section>

<section class="catalog" #catalog>
  <div class="container catalog__container">
    <h2 class="title title_fz45 catalog__title">
      Выберите свой макарун
    </h2>
    <div class="catalog__items">
      <products *ngFor="let product of catalogItems;" [product]="product"
                (addToCartEvent)="addToCart($event, order)"></products>
    </div>
  </div>
</section>

<section class="order" #order>
  <div class="container order__container">
    <div class="order__image">
      <img src="../assets/images/order/big.png" alt="Макаруны" class="order__image-img">
    </div>
    <h2 class="title title_fz45 order__title">Закажите макарун!</h2>
    <p class="order__description">
      Выберите понравившийся макарун, заполните форму и ожидайте звонка нашего пекаря!
    </p>
    <form action="" method="POST" class="order__form">
      <h3 class="order__form-title">Ваш выбор</h3>
      <input class="order__input order__input_mb40" type="text" placeholder="Напишите, что хотите заказать..."
             name="order" [(ngModel)]="orderData.macaroon">
      <h3 class="order__form-title order__form-title_mb22">Заполните данные для заказа</h3>
      <input class="order__input" type="text" placeholder="Ваше имя" name="name" [(ngModel)]="orderData.name">
      <input class="order__input" type="number" placeholder="+375 (__) ___ - __ - __" name="phone_number"
             [(ngModel)]="orderData.phone">
      <button type="submit" class="btn order__btn" bgButton (click)="createOrder()">Оформить заказ</button>
    </form>
    <img src="../assets/images/order/strawberry1.png" alt="Клубничка" class="order__strawberry order__strawberry-first">
    <img src="../assets/images/order/strawberry2.png" alt="Клубничка"
         class="order__strawberry order__strawberry-second">
  </div>
</section>

<div class="gift" *ngIf="showPresent">
  <button class="gift__btn" bgButton>
    <img src="../assets/images/cart.png" alt="Корзина" class="gift-img">
    <span class="gift__btn-total">
      {{ cartService.productInCart }}
    </span>
  </button>
  <p class="gift__text">
    {{ cartService.priceInCart === 0 ? cartService.priceInCart : cartService.priceInCart.toFixed(2) }} руб.
  </p>
</div>
